.header {
  nav {
    padding: 2.375rem;
  }

  &__logo {
    color: $white;
    font-weight: 500;
    font-size: $largeSize;
  }

  &__menu {
    div {
      background-color: $white;

      &:nth-child(1) {
        width: 30px;
        margin-bottom: 12px;
        height: 2.55px;
      }

      &:nth-child(2) {
        margin-left: auto;
        width: 20px;
        height: 2.5px;
      }
    }
  }

  &__links {
    a {
      margin: 0 1rem;
      font-size: $regularSize;
      color: $white;
    }
  }
}
