<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header class="header">
      <nav class="flex flex-jc-sb flex-ai-c">
        <a href="/" class="header__logo"> GoPorto. </a>

        <a href="#" class="header__menu hide-for-desktop">
          <div></div>
          <div></div>
        </a>

        <div class="header__links flex flex-jc-sb flex-ai-c hide-for-mobile">
          <div class="links">
            <a href="#">/ gastronomy</a>
            <a href="#">/ wine</a>
            <a href="#">/ monuments</a>
            <a href="#">/ routes</a>
          </div>
          <div class="langs">
            <a href="#">PT</a>
            <a href="#">EN</a>
          </div>
        </div>
      </nav>
    </header>

    <script src="../JS/navbar.js"></script>
  </body>
</html>
