<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header class="header">
      <nav class="flex flex-jc-sb flex-ai-c">
        <a href="/" class="header__logo"> GoPorto. </a>

        <a href="#" id="hamb" class="header__toggle hide-for-desktop">
          <div></div>
          <div></div>
        </a>

        <div class="header__links hide-for-mobile">
          <a href="#">Generate Routes</a>
          <a href="#">Gastronomy</a>
          <a href="#">Wine</a>
          <a href="#">Monuments</a>
        </div>
      </nav>

      <div class="header__menu flex flex-fd-c">
        <a href="#">
          <div class="line">
            <div>Generate Routes</div>
          </div>
        </a>
        <a href="#">
          <div class="line">
            <div>Gastronomy</div>
          </div></a
        >
        <a href="#">
          <div class="line">
            <div>Wine</div>
          </div></a
        >
        <a href="#">
          <div class="line">
            <div>Monuments</div>
          </div></a
        >
      </div>
    </header>

    <section class="landing grid">
      <div class="landing__title">
        <h1>
          <div>Welcome</div>
          <div id="go__right">To <span>Porto</span></div>
        </h1>
      </div>
      <div class="landing__image__card">
        <div class="image">
          <div class="card flex flex-fd-c flex-jc-sb">
            <h3 class="card__title">Need orientation?</h3>
            <div class="flex flex-ai-c flex-jc-sb">
              <h6 class="card__desc">
                <div>We help you to create</div>
                <div>your own <span>route</span></div>
              </h6>
              <button class="card__button">
                <i class="fas fa-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="landing__scroll__down">
        <p class="scroll__text">Scroll Down</p>
      </div> -->
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/CSSRulePlugin.min.js"></script>
    <script type="module" src="../JS/navbar.js"></script>
  </body>
</html>
